{% extends 'feedback/base.html' %}
{% load static %}

{% block title %}Add Feedback{% endblock %}

{% block body_block %}
<br />
		<form id="feedback_form" method="post" action="/feedback/add_feedback/">

            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            {% for field in form.visible_fields %}
                {{ field.errors }}
                {{ field.help_text}}
                {{ field }}
            {% endfor %}

            <input type="submit" class="btn btn-default btn-success" value="Submit Attendee"/>
        </form>

{% endblock %}
