{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Daviker Training Feedback site">
    <meta name="author" content="Angie Merryweather">

    <title>Training - {% block title %}Feedback{% endblock %}</title>
    
    <!-- Google font -->
    <link href='http://fonts.googleapis.com/css?family=Source+Serif+Pro' rel='stylesheet' type='text/css'>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'feedback/css/bootstrap-darkly.css'%}" rel="stylesheet" media="screen">
	<link href="{% static 'feedback/css/bootsrap-responsive.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'feedback/css/navbar.css' %}" rel="stylesheet">
    
    <!-- JavaScript for DateTimePicker -->
    <link href="{% static 'feedback/css/datepicker.css' %}" rel="stylesheet">
    <link href="{% static 'feedback/css/datepicker.less' %}" rel="stylesheet">
    <script src="{% static 'feedback/js/jquery-2.1.0.min.js' %}"></script>
    <script src="{% static '/static/feedback/js/bootstrap-datepicker.js' %}"></script>
    
  </head>

  <body>

    <div class="container">

      <!-- Static navbar -->
      <div class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/feedback/">training feedback</a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="http://www.angie.io/">angie.io</a></li>
              <li><a href="/feedback/add_attendee/">Add Feedback</a></li>
              <li><a href="http://www.eventbrite.co.uk/o/daviker-365893450">Eventbrite</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li class="dropdown-header">Nav header</li>
                  <li><a href="#">Separated link</a></li>
                  <li><a href="#">One more separated link</a></li>
                </ul>
              </li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </div>

      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Training Feedback</h1>
        <p>
        	{% block body_block%} Test test test 
	        {% endblock %}
	    </p>
        <p>
        </p>
      </div>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'feedback/js/jquery-2.1.0.min.js' %}"></script>
	<script src="{% static 'feedback/js/bootstrap.min.js' %}"></script>
  </body>
</html>

