{% extends 'feedback/base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block body_block %}
<br />
	<p>
		Feedback will be visualised here using <a href="http://schoolofdata.org/2013/08/12/climbing-the-d3-js-visualisation-stack/">D3.js</a>.
	</p>
	
	<p>
		<a href="/feedback/add_attendee/" class="btn btn-default btn-primary btn-lg"><span class="glyphicon glyphicon-pencil"></span> Add Feedback</a> <br />
	</p>
	
	<hr>
	
	<h2>TODO</h2>
	
	<p>
		<ul>
			<li class="text-danger">Remove customer list - change to free text entry (10 mins)</li>
			<li>Add login functionality (1 hour)</li>
			<li>A couple of <strong>basic</strong> visualisations of the data. (??? possibly a day?)</li>
			<li>Create ModelAdmin classes for all models with auto-incrementing primary keys. (1 hour)</li>
			<li class="text-muted">Add some positive quotes about training to index.html. (5 mins)</li>
			<li class="text-muted">???</li>
		</ul>
	</p>
	
{% endblock %}
