{% extends 'feedback/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Questions{% endblock %}

{% block body_block %}
<h2>
{% if attendee %}
	Feedback for <strong>{{ attendee.first_name }} {{ attendee.last_name }}</strong>
{% else %}
	No attendee
{% endif %}
</h2>
<form>
	{% csrf_token %}
	<strong>Training Date:</strong>
	<input type="text" id="datepicker" class="datepicker">
	<br /><br />
	
</form>
		{% crispy question_form %}
		
<script>
$("#datepicker").datepicker({
    todayBtn: "linked",
    daysOfWeekDisabled: "0,6",
    autoclose: true,
    todayHighlight: true
});</script>
{% endblock %}
